@import './base.css';

body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  background-color: #DDDDDD;
  font-family: 'DM Mono', monospace;
}

header > nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: white;

  gap: 1rem;

  height: 4rem;
}

nav * {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

main {
  max-width: 640px;
  margin-inline: auto;
}

.section {
  padding-top: 64px;
  min-height: 1000px;
}

.active {
  text-decoration: underline;
  font-weight: 600;
}